### Importing required libraries

In [40]:
import pandas as pd

### Importing Source Datafile for Pre-Processing

In [41]:
#df = pd.read_csv('cc_transaction.csv')

In [42]:
#df.head()

In [43]:
#df_sample=df.head(900000)

In [44]:
#saving the sample data

#df_sample.to_csv('credit_debit_transactions.csv')

In [45]:
#df=df_sample

In [46]:
df=pd.read_csv('credit_debit_transactions.csv')

In [47]:
df.describe()

,Unnamed: 0,User,Card,Year,Month,Day,Merchant Name,Zip,MCC,Card Number,...,Current Age,Retirement Age,Birth Year,Birth Month,user_Apartment,user_Zipcode,user_Latitude,user_Longitude,FICO Score,Num Credit Cards
count,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,9.000000e+05,761845.000000,900000.000000,9.000000e+05,...,900000.000000,900000.000000,900000.000000,900000.000000,246542.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000
mean,449999.500000,32.881981,1.162184,2011.866612,6.515458,15.717741,-7.851277e+17,56264.968478,5491.191138,5.058613e+15,...,53.633249,65.719732,1965.590746,7.543788,349.476832,55232.209341,35.646481,-93.551181,727.747232,3.498087
std,259807.765474,19.730787,1.352057,5.013497,3.470508,8.788240,4.793184e+18,28986.265535,880.053601,9.783021e+14,...,15.267189,4.394863,15.247221,3.908208,1445.589158,29350.988412,5.068624,15.503945,61.425233,1.663125
min,0.000000,0.000000,0.000000,1998.000000,1.000000,1.000000,-9.222265e+18,1001.000000,1711.000000,3.110955e+14,...,18.000000,52.000000,1929.000000,1.000000,1.000000,1532.000000,25.770000,-122.930000,568.000000,1.000000
25%,224999.750000,16.000000,0.000000,2008.000000,3.000000,8.000000,-5.036399e+18,32750.000000,4900.000000,4.869846e+15,...,42.000000,63.000000,1958.000000,4.000000,2.000000,32128.000000,30.680000,-110.880000,675.000000,2.000000
50%,449999.500000,35.000000,1.000000,2012.000000,7.000000,16.000000,-1.288082e+18,53210.000000,5499.000000,5.247577e+15,...,48.000000,66.000000,1971.000000,9.000000,8.000000,52803.000000,35.050000,-88.040000,722.000000,3.000000
75%,674999.250000,50.000000,2.000000,2016.000000,10.000000,23.000000,2.851333e+18,85201.000000,5812.000000,5.595562e+15,...,61.000000,68.000000,1977.000000,11.000000,78.000000,85201.000000,40.690000,-81.670000,783.000000,5.000000
max,899999.000000,66.000000,7.000000,2020.000000,12.000000,31.000000,9.222877e+18,99829.000000,9402.000000,6.969946e+15,...,91.000000,75.000000,2002.000000,12.000000,7043.000000,98010.000000,47.320000,-71.480000,850.000000,8.000000

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   900000 non-null  int64
 1   User                         900000 non-null  int64
 2   Card                         900000 non-null  int64
 3   Year                         900000 non-null  float64
 4   Month                        900000 non-null  float64
 5   Day                          900000 non-null  float64
 6   Time                         900000 non-null  object
 7   Amount                       900000 non-null  object
 8   Use Chip                     900000 non-null  object
 9   Merchant Name                900000 non-null  float64
 10  Merchant City                900000 non-null  object
 11  Merchant State               767262 non-null  object
 12  Zip                          761845 non-null  float64
 13  MCC                          900000 non-null  float64
 14  Errors?                      14455 non-null   object
 15  Is Fraud?                    900000 non-null  object
 16  Card Brand                   900000 non-null  object
 17  Card Type                    900000 non-null  object
 18  Card Number                  900000 non-null  int64
 19  Expires                      900000 non-null  object
 20  CVV                          900000 non-null  int64
 21  Has Chip                     900000 non-null  object
 22  Cards Issued                 900000 non-null  int64
 23  Credit Limit                 900000 non-null  object
 24  Acct Open Date               900000 non-null  object
 25  Year PIN last Changed        900000 non-null  int64
 26  Card on Dark Web             900000 non-null  object
 27  Person                       900000 non-null  object
 28  Current Age                  900000 non-null  int64
 29  Retirement Age               900000 non-null  int64
 30  Birth Year                   900000 non-null  int64
 31  Birth Month                  900000 non-null  int64
 32  Gender                       900000 non-null  object
 33  user_Address                 900000 non-null  object
 34  user_Apartment               246542 non-null  float64
 35  user_City                    900000 non-null  object
 36  user_State                   900000 non-null  object
 37  user_Zipcode                 900000 non-null  int64
 38  user_Latitude                900000 non-null  float64
 39  user_Longitude               900000 non-null  float64
 40  Per Capita Income - Zipcode  900000 non-null  object
 41  Yearly Income - Person       900000 non-null  object
 42  Total Debt                   900000 non-null  object
 43  FICO Score                   900000 non-null  int64
 44  Num Credit Cards             900000 non-null  int64
dtypes: float64(9), int64(14), object(22)
memory usage: 309.0+ MB

Columnns with Missing data:
    1. Merchant State
    2. Zip
    3. Error?
    4. user_Apartment

Among 44 columns there are only 4 columns with missing values.  But, 'user_apartment' may not be needed so dropping the user_apartment column

In [49]:
df=df.drop('user_Apartment', axis=1)

In [50]:
#removing the $ sign from the Amount column
columns=['Yearly Income - Person','Per Capita Income - Zipcode','Credit Limit','Amount','Total Debt']
for col in columns:
    df[col]=df[col].replace(r'[$]', '', regex=True)

Amount is supposed to be a numerical column, but the currency symbol in it makes it as a object which is not suitable to train a ML model.  So removed the currency symbol from the column

In [51]:
df.head()

,Unnamed: 0,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,...,user_City,user_State,user_Zipcode,user_Latitude,user_Longitude,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards
0,0,0,0,2002.0,9.0,1.0,06:21,134.09,Swipe Transaction,3.527213e+18,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
1,1,0,0,2002.0,9.0,1.0,06:42,38.48,Swipe Transaction,-7.276121e+17,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
2,2,0,0,2002.0,9.0,2.0,06:22,120.34,Swipe Transaction,-7.276121e+17,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
3,3,0,0,2002.0,9.0,2.0,17:45,128.95,Swipe Transaction,3.414527e+18,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
4,4,0,0,2002.0,9.0,3.0,06:23,104.71,Swipe Transaction,5.817218e+18,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5

Removed all the currency symbols

It is observed that for the Online transactions we have missing 'Merchant State' and 'Zip'.  So for online transactions 'Merchant State' will be 'online' and 'Zip' will be '0000'

In [52]:
df['Merchant State']=df['Merchant State'].fillna('online')

In [53]:
df['Zip']=df['Zip'].fillna(0000)

In [54]:
df['Errors?']=df['Errors?'].fillna('No Error')

In [55]:
df.to_csv('credit_debit_preprocessed_transactions.csv')